<h1><%= user.username %></h1>

<h4><%= user.firstName %></h4>
<h4><%= user.lastName %></h4>

<p><%= user.email %></p>
<a class="btn btn-primary" href="/profile/edit">Edit</a>


<form method="POST" action="/profile">
  <input type="hidden" name="_method" value="DELETE">
  <button class="btn btn-primary">Delete</button>
</form>
