<nav class="navbar navbar-light bg-light justify-content-center">
  <span class="navbar-text">
    <img src="/images/pizza-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    E.B.P. is powered by pizza ....and beer.....but mostly pizza
  </span>
</nav>
