<nav class="navbar transparent navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
   <img src="/images/pizza-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
   E.B.P.
 </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <% if(!locals.isAuthenticated) { %>
        <a class="nav-link" href="/register">Register</a>
        <a class="nav-link" href="/login">Log In</a>
      <% } else { %>
        <a class="nav-link" href="/profile">Your Profile</a>
        <a class="nav-link" href="/logout">Log Out</a>
      <% } %>
        <a class="nav-link" href="/restaurants">View Pizza Joints</a>
        <a class="nav-link" href="/restaurants/new">Add New Pizza Joint</a>

      </li>
    </ul>
  </div>
</nav>
