<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/">
   <img src="/images/pizza-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
   E.B.P.
 </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <a class="nav-link blue" href="/restaurants">View Pizza Joints</a>
      <% if(locals.isAuthenticated) { %>
        <a class="nav-link blue" href="/restaurants/new">Add New Pizza Joint</a>
      <% } else { %>
        <a class="nav-link blue" href="/login">Log In to Add a New Joint</a>
      <% } %>

  </ul>
  <ul class="navbar-nav ml-auto">
      <% if(!locals.isAuthenticated) { %>
        <a class="nav-link blue" href="/register">Register</a>
        <a class="nav-link blue" href="/login">Log In</a>
      <% } else { %>

        <a class="nav-link blue" href="/profile/<%= locals.loggedInUser.id %>"><%= locals.loggedInUser.username %></a>
        <a class="nav-link blue" href="/logout">Log Out</a>
      <% } %>



    </ul>
  </div>
</nav>
