<div class="container">

<div class="row">

<div class="center">


  <iframe src="https://giphy.com/embed/1108D2tVaUN3eo" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>



<h4>Sorry we got distracted thinking about pizza and something went wrong, please try again</h3>

<%# <iframe src="https://giphy.com/gifs/life-pizza-lover-1108D2tVaUN3eo" width="480" height="320" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>%>
</div>

  <h6><%= err.message %></h6>

<% if(locals.err.stack) { %>
<pre>
  <%= err.stack %>
</pre>
<% } %>

</div>
</div>
