.pizza-icon-img-index {
  max-width: 25px;
}

.restaurant-img-index {
  position: absolute;
   top: 0;
   left: 0;
   width:100%;
}

.restaurant-index {
  margin-bottom: 10px;
}

.img-container-index {
    position:relative;
    padding-top:66.59%;
     overflow: hidden;
}
