
.pizza-icon-ul {
  -webkit-padding-start: 0;
  margin-bottom: 5px;
  margin-top: 5px;
}

.pizza-icon-li {
  list-style: none;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

.pizza-icon-img {
  max-width: 50px;
}

.restaurant-img-show {
  min-width: 80%;
}

.restaurant-address {
  margin-top: 10px;
}
