@import 'indexofrestaurants';
@import 'showrestaurants';
@import '404';
@import 'nav&foot';
@import 'profile';

body {
  font-family: 'Monsterrat', sans-serif;
  // background-image: url(/images/background.png);
  // background-size: cover;
  // color: black;

}

h1,h2,h3,h4 {
  font-family: 'Inconsolata', monospace;

}

.btn {
  margin-bottom: 5px;
}

.bottom {
  min-height: 100px;
}

body {
  padding-bottom: 50px;
}

// a {
//   h4 {
//     color: #E74C3C;
//   }
//   h4 :hover {
//     color: #A70C00;
//     // text-decoration-color: #A70C00;
//     border-bottom-color: #A70C00;
//   }
//   img :hover {
//     color: #A70C00;
//     // text-decoration-color: #A70C00;
//     border-bottom-color: #A70C00;
//
//   }
// }
//
// a :hover {
//   h4 {
//     color: #A70C00;
//     border-bottom-color: #A70C00;
//   }
//
// }
