@import 'indexofrestaurants';
@import 'showrestaurants';
@import '404';
@import 'nav&foot';
@import 'profile';

body {
  font-family: 'Monsterrat', sans-serif;
  // background-image: url(/images/background.png);
  // background-size: cover;
  // color: black;

}

h1,h2,h3,h4 {
  font-family: 'Inconsolata', monospace;

}

.btn {
  margin-bottom: 5px;
}
